.select-box {
  display: inline-block;
  .select {
    display: inline-block;
    margin-left: 5px;
    position: relative;
    cursor: pointer;
    .selected-option {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .option {
      display: none;
      margin-top: 2px;
      position: absolute;
      width: 100%;
      background-color: white;
      border: 1px solid #ccc;
      li {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 1px;
        &:last-child {
          border: none;
        }
        &.active {
          background: #ccc;
        }
        &:hover {
          background: #ccc;
        }
      }
    }
  }
  .msg {
    margin-top: 10px;
  }
}

