section {
  font-size: 14px;
  .tabs {
    padding: 10px 0;
    height: 50px;
    .heading-item {
      padding: 10px;
      background-color: black;
      color: white;
      text-align: center;
      border-right: 2px solid white;
      text-transform: uppercase;
      transition: color .3s;
      letter-spacing: 2.5px;
      border-bottom: 4px solid transparent;
      &.active {
        background-color: #ccc;
        color: black;
        border-bottom-color: #009cde;
      }
      &:last-child {
        border-right: none;
      }
      &:hover {
        cursor: pointer;
      };
    }
  }
  .content {
    padding: 20px
  }
}
