extends layouts/layout

block vars
  -title = 'Select Box and Loading'

block container
  main(data-loading)
      select(name="gender", data-select-box).hidden
        option Select Gender
        option(value="1") Male
        option(value="2") Female
