extends layouts/layout

block vars
  -title = 'Tab Ajax Localstore'

block container
  main
    script(id="tab-template" type="text/x-handlebars-template")
      .content-item.fade.in(data-content="tab-1")
        p 1 {{content}}
      .content-item.fade.hidden(data-content="tab-2")
        p 2 {{content}}
      .content-item.fade.hidden(data-content="tab-3")
        p 3 {{content}}
      .content-item.fade.hidden(data-content="tab-4")
        p 4 {{content}}

    section(data-tabs)
      .grid
        .row
          .col-md-12
            .nav-tabs
              .tab-heading
                ul.tabs
                  li.heading-item.col-md-3(data-url="/data/book.json" data-item="tab-1") Book
                  li.heading-item.col-md-3(data-url="/data/film.json" data-item="tab-2") Film
                  li.heading-item.col-md-3(data-url="/data/game.json" data-item="tab-3") Game
                  li.heading-item.col-md-3(data-url="/data/music.json" data-item="tab-4") Music
              .tab-content
                .content-item.fade.in(data-content="tab-1")
                  p 1 {{content}}
                .content-item.fade.hidden(data-content="tab-2")
                  p 2 {{content}}
                .content-item.fade.hidden(data-content="tab-3")
                  p 3 {{content}}
                .content-item.fade.hidden(data-content="tab-4")
                  p 4 {{content}}



                  //- .content-item.fade.hidden(data-content="tab-2")
                  //-   p 2 {{content}}
                  //- .content-item.fade.hidden(data-content="tab-3")
                  //-   p 3 {{content}}
                  //- .content-item.fade.hidden(data-content="tab-4")
                  //-   p 4 {{content}}
